<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test-eleventy</title>
</head>
<body>
    <h1>Eleventy + Netlify Test</h1>
    {{ content | safe }}
</body>
</html>